<div class="box">
      <header>
        <div class="title">
          <h1>Ancient Mesopotamia</h1>
          <h2>Uma Jornada pelas Civilizações entre Rios</h2>
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c5/Pergamon_%281580416497%29.jpg/1200px-Pergamon_%281580416497%29.jpg"
            alt=""
            srcset=""
          />
        </div>
      </header>
      <div class="text-box">
        <h2>Historia</h2>
        <p>
          A Mesopotâmia foi uma região histórica localizada no Oriente Médio,
          entre os rios Tigre e Eufrates, que abrange partes dos territórios
          atuais do Iraque, Síria, Kuwait e Turquia. Conhecida como "terra entre
          rios", a Mesopotâmia é considerada um dos berços da civilização
          humana.
        </p>
        <!-- <br /> -->
        <p>
          A história da Mesopotâmia remonta a milhares de anos, começando com as
          primeiras civilizações que surgiram na região por volta do quarto
          milênio a.C. As primeiras cidades-Estado surgiram nessa época, como
          Uruk, Ur e Lagash. Essas cidades-Estado mesopotâmicas desenvolveram
          sistemas políticos complexos, economias agrícolas e sistemas de
          escrita cuneiforme.
        </p>
        <!-- <br /> -->
        <p>
          Uma das civilizações mais proeminentes da Mesopotâmia foi a dos
          sumérios, que foram pioneiros em muitos aspectos da civilização,
          incluindo a escrita cuneiforme e o desenvolvimento de uma estrutura de
          governo centralizado. Eles construíram grandes templos conhecidos como
          zigurates e acreditavam em uma ampla variedade de deuses.
        </p>
        <!-- <br /> -->
        <p>
          Após os sumérios, vários impérios e dinastias governaram a Mesopotâmia
          ao longo dos séculos, como o Império Acádio, o Império Babilônico e o
          Império Assírio. Esses impérios expandiram seus territórios,
          estabeleceram leis e códigos legais, construíram impressionantes
          palácios e desenvolveram sistemas de irrigação avançados.
        </p>
        <!-- <br /> -->
        <p>
          Um dos aspectos mais famosos da Mesopotâmia é o Código de Hamurabi,
          criado pelo rei Hamurabi da Babilônia no século XVIII a.C. Esse código
          estabelecia leis e punições para diferentes crimes e era baseado no
          princípio da retaliação, conhecido como "olho por olho, dente por
          dente".
        </p>
        <!-- <br /> -->
        <p>
          No entanto, a região da Mesopotâmia também foi constantemente
          disputada por impérios vizinhos, como o Egito, os hititas e os persas.
          No século VI a.C., o Império Persa conquistou a Mesopotâmia e governou
          até a chegada de Alexandre, o Grande, no século IV a.C.
        </p>
        <!-- <br /> -->
        <p>
          Após a morte de Alexandre, o Império Selêucida assumiu o controle da
          Mesopotâmia, seguido pelo Império Parta e, posteriormente, pelo
          Império Sassânida. No século VII d.C., a região foi conquistada pelos
          árabes muçulmanos durante as conquistas islâmicas.
        </p>
        <!-- <br /> -->
        <p>
          A história da Mesopotâmia é marcada por avanços significativos nas
          áreas da agricultura, arquitetura, ciência, matemática e literatura. A
          escrita cuneiforme e as epopeias como a "Epopeia de Gilgamesh" são
          exemplos notáveis ​​da rica cultura e do legado deixado por essa
          região.
        </p>
        <!-- <br /> -->
        <p>
          Embora a Mesopotâmia não exista mais como uma entidade política
          unificada, sua influência e contribuições para a civilização humana
          continuam sendo uma parte importante da história e da herança do mundo
          atual.
        </p>
      </div>
      <div class="text-box">
        <h2>Cultura</h2>
        <p>
          A cultura da antiga Mesopotâmia era rica e diversa, abrangendo vários
          aspectos da vida, incluindo religião, arte, arquitetura, literatura,
          ciência e práticas sociais. Aqui estão alguns pontos-chave sobre a
          cultura mesopotâmica:
        </p>
        <!-- <br /> -->
        <p>
          <strong>1. Religião:</strong> A religião desempenhou um papel central
          na vida dos mesopotâmicos. Eles acreditavam em uma ampla gama de
          deuses e deusas e dedicavam templos e rituais a eles. As divindades
          mesopotâmicas eram associadas a forças da natureza, elementos cósmicos
          e aspectos da vida cotidiana. Os sacerdotes desempenhavam um papel
          importante como intermediários entre os deuses e as pessoas.
        </p>
        <!-- <br /> -->
        <p>
          <strong>2. Escrita cuneiforme:</strong> A escrita cuneiforme,
          inventada pelos sumérios, era usada para registrar informações, desde
          registros comerciais até obras literárias. As tábuas de argila eram
          gravadas com caracteres em forma de cunha, usando um estilete. Essa
          forma de escrita foi utilizada por séculos e permitiu o
          desenvolvimento de uma vasta literatura mesopotâmica.
        </p>
        <!-- <br /> -->
        <p>
          <strong> 3. Literatura: </strong> A Mesopotâmia é conhecida por ter
          algumas das obras literárias mais antigas da humanidade. A "Epopeia de
          Gilgamesh" é uma das mais famosas. Também existem mitos, lendas, hinos
          e poemas épicos que retratam as crenças religiosas, histórias heróicas
          e visões de mundo dos mesopotâmicos.
        </p>
        <!-- <br /> -->
        <p>
          <strong>4. Arquitetura:</strong> A arquitetura mesopotâmica incluía a
          construção de templos, palácios, zigurates (torres em forma de
          pirâmide) e muralhas defensivas. Os zigurates eram estruturas
          religiosas altas, com vários andares, dedicadas aos deuses e
          frequentemente localizadas no centro das cidades. Os palácios eram
          grandes complexos que serviam como centros administrativos e
          residências para os governantes.
        </p>
        <!-- <br /> -->
        <p>
          <strong>5. Ciência e matemática:</strong> Os mesopotâmicos fizeram
          importantes avanços nas áreas da astronomia, matemática e medicina.
          Eles desenvolveram um sistema numérico baseado em 60, que influenciou
          o uso moderno de minutos e segundos em medidas de tempo. Os astrônomos
          mesopotâmicos observaram os astros e desenvolveram calendários
          complexos. Na medicina, eles tinham conhecimentos sobre doenças,
          tratamentos e cirurgias.
        </p>
      </div>
      <div class="text-box">
        <h2>Sobre sua engenharia, ela trouxe algo de novo? ou Inovador?</h2>
        <p>
          <strong>
            Sim, a engenharia mesopotâmica trouxe várias inovações e avanços
            significativos para a época. Aqui estão alguns exemplos:
          </strong>
        </p>
        <p>
          <strong>1. Sistemas de irrigação:</strong> A Mesopotâmia era uma
          região árida, dependente da agricultura para sustentar sua população.
          Os mesopotâmicos desenvolveram sistemas avançados de irrigação,
          incluindo canais, diques e sistemas de drenagem para controlar as
          águas dos rios Tigre e Eufrates. Eles construíram complexos sistemas
          de canais que permitiam o fornecimento constante de água às terras
          agrícolas, aumentando a produtividade das colheitas e sustentando a
          vida urbana.
          <img src="https://media.licdn.com/dms/image/C4D12AQHGhbTNMJKPnQ/article-inline_image-shrink_1000_1488/0/1536781368990?e=1692230400&v=beta&t=No28XD33h4Ab1p2C-fZZv1Yk1Q3C4PMBxquK01dbwR0" alt="">
        </p>
        <p>
          <strong>2. Construção de Zigurates:</strong> Os mesopotâmicos
          construíram grandes estruturas conhecidas como zigurates. Essas torres
          em forma de pirâmide eram construídas com tijolos de barro e tinham
          múltiplos andares, chegando a dezenas de metros de altura. Os
          zigurates serviam como templos religiosos e também como centros
          administrativos. Eles foram uma conquista notável da engenharia,
          demonstrando habilidades de construção e conhecimentos arquitetônicos
          avançados para a época.
          <img src="https://apaixonadosporhistoria.com.br/img/foto/galeria_1_1333609474.jpg" alt="">
        </p>
        <p>
          <strong>3. Muralhas defensivas:</strong> A engenharia mesopotâmica
          também incluiu a construção de muralhas defensivas ao redor das
          cidades-Estado. Essas muralhas eram feitas de tijolos de barro ou
          pedra e forneciam proteção contra invasores e ataques. As muralhas
          eram frequentemente fortificadas com torres de vigilância e portões de
          acesso controlados, demonstrando o domínio da engenharia militar.<img
            src="https://en.bcdn.biz/Images/2023/5/8/f4e138e3-d32b-42e8-ba91-49926e02e8b5.jpg"
            alt=""
          />
        </p>
        <p>
          <strong>4. Avanços em engenharia hidráulica:</strong> Além dos
          sistemas de irrigação, os mesopotâmicos também desenvolveram
          tecnologias para gerenciar e controlar as águas dos rios. Eles
          construíram comportas e barragens para regular o fluxo de água e
          evitar enchentes. Além disso, eles inventaram dispositivos como a roda
          d'água para uso em moinhos e outros processos que requeriam energia
          mecânica.
          <img src="https://www.mozaweb.com/pt/mozaik3D/TOR/kozepkor/arab_norias_of_hama/960.jpg" alt="">
        </p>
        <p>
          <strong>5. Pontes e estradas:</strong> Os mesopotâmicos construíram
          pontes e estradas para facilitar o comércio e o deslocamento entre as
          cidades. As pontes eram construídas com arcos de pedra ou tijolos, e
          as estradas eram pavimentadas com tijolos ou pedras para melhorar a
          conectividade e a mobilidade na região.<img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTXcoyG6vUo2Nai2x9aSONtH1HFTiOQnNPGUnohJJUgbbaImrt6H1CIaqRVxEVc2UsNrFg&usqp=CAU"
            alt=""
          />
        </p>
        <p>
          Essas realizações da engenharia mesopotâmica demonstram a capacidade
          dos mesopotâmicos de enfrentar desafios ambientais e criar soluções
          engenhosas para melhorar a vida em sua região. Muitas dessas técnicas
          e conhecimentos engenhosos foram transmitidos para outras culturas e
          tiveram um impacto duradouro no desenvolvimento da engenharia civil ao
          longo da história.
        </p>
      </div>
    </div>